html {
    height: 100%;
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html body #map-canvas {
    height: 100%;
}

html body #map-canvas img {
    max-width: none;
}

html body #map-search {
    position: absolute;
    top: 20px;
    left: 20px;
}

html body #map-search #search-form {
    margin: 0;
}

html body #map-search #search-form #searchBtn {
    width: 70px;
}
