{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ test }}Browse News Using Maps{% endblock title %}
{% block css %}
    <link href="{% static "css/maps.css" %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <div id="map-canvas"></div>
    <div id="map-search">
        <form id="search-form">
            <div class="input-append">
                <input class="span4" id="search-input" type="text" autocomplete="off">
                <button class="btn btn-primary" type="submit" id="searchBtn"><i class="icon-search icon-white"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block js %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZCS0VJe3IjzkwhTeR2HJlCJFMEVedtTY&sensor=true&v=3&libraries=visualization"></script>
    <script type="text/javascript" src="{% static "js/maps.js" %}"></script>
{% endblock js %}