html {
  height: 100%;
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    #map-canvas {
      height: 100%;
      img {
        max-width: none;
      }
    }
    #map-search {
      position: absolute;
      top: 20px;
      left: 20px;
      #search-form {
        margin: 0;
        #searchBtn {
          width: 70px;
        }
      }
    }
  }
}